*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --font-text: 2.4rem;
  --font-normal: 1.4rem;
  --font-title: 4.2rem;
  --font-title-mb: 3.4rem;

  --title-color: #E1E1E6;
  --font-color: #fff;
  --font-link: #C4C4CC;

  --font-family: 'Roboto', 'sans-serif';
  --background: 
}

body{
  background: var(--background) no-repeat center/cover;
  font-family: var(--font-family);
  background-color: rgb(4, 4, 7);
  transition: 1s;
}

h1{
  font-size: var(--font-title);
  color: var(--title-color);
}

p{
  font-size: clamp(1.3rem, 0.5rem + 2vw, 1.8rem);
  color: var(--title-color);
  line-height: 160%;
}

#nav-bar{
  display: flex;
  align-items: center;
  position: absolute;
  font-size: var(--font-text);
  margin: 0 100px;
  height: 9rem;
}

#menu{
  display: flex;
  width: 490px;
  height: 42px;
  margin-left: 72px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}

#btn-mobile{
  display: none;
}

a{
  text-decoration: none;
  color: var(--font-link);
}

a:hover{
  color: var(--font-color);
}

.focus{
  font-weight: bold;
  color: white;
}

#content{
  min-height: 100vh;
  display: flex;
}

#home{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#content h1 {
  margin-bottom: 2.4rem;
}

.wrapper{
  display: flex;
  width: clamp(40rem, 25rem + 35vw, 65rem);
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}

.learn-more{
  color: var(--font-color);
  font-size: var(--font-normal);
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 32px;
}

.learn-more:hover{
  background-color: #fff;
  color: rgb(11, 36, 104);
  font-weight: 600;
}

/* MEDIA QUERIE */
@media(max-width: 600px) {
  #nav-bar{
    justify-content: space-between;
    padding: 0 3rem;
    margin: 0;
    background-color: #c3c3ca24;
    width: 100%;
  }

  
  #btn-mobile{
    display: flex;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  #hamburguer{
    width: 2rem;
    border-top: 3px solid;
    color: rgb(236, 236, 240);
  }

  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 2rem;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
    transition: .3s;
  }
  
  #nav-bar.active #hamburguer{
    border-top-color: transparent;
  }

  #nav-bar.active #hamburguer::before{
    transform: rotate(135deg)
  }

  #nav-bar.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -8px;
  }

  #menu{
    position: absolute;
    width: 100%;
    height: 0;
    top: 90px;
    right: 0px;
    background: #c3c3ca24;
    transition: .5s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav-bar.active #menu{
    height: calc(100vh - 90px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu, #nav-bar.active #menu{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
  }

  
  
  h1{
    font-size: var(--font-title-mb);
  }

  .wrapper{
    margin: 0;
    padding: 0 30px;
  }
}